/*每个页面公共css */
page {
	height: 100vh;
	width: 100vw;
	background-color: #f5f5f5;
	font-size: 28upx;
	overflow-x: hidden;
	position: relative;
	font-family: PingFang-SC-Bold, PingFang-SC;
	/*解决ios上滑动不流畅*/
	-webkit-overflow-scrolling: touch;
	/*HTML5 元素超出部分滚动, 并隐藏滚动条*/
	touch-action: manipulation;
	/* 禁用文本选中 */
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

page,
view,
text {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'PingFang-SC-Medium', 'PingFang-SC', 'Hiragino Sans GB',
		'Heiti SC', 'MicrosoftYaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 28rpx;
/* 	color: #333; */
}

.page {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background-color: #f5f5f5;
	font-size: 28rpx;
}

/* 先注释掉，有需要在页面单独加 */
/* ::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	color: transparent !important;
	display: none;
} */

.input-placeholder {
	color: #999999;
	font-size: 28upx;
}

.px-1,
.px-1--bottom,
.px-1--left,
.px-1--right,
.px-1--surround,
.px-1--top,
.px-1--top-bottom {
	position: relative;
}

.px-1--bottom::after,
.px-1--left::after,
.px-1--right::after,
.px-1--surround::after,
.px-1--top-bottom::after,
.px-1--top::after,
.px-1::after {
	content: ' ';
	position: absolute;
	pointer-events: none;
	box-sizing: border-box;
	-webkit-transform-origin: center;
	transform-origin: center;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	border: 0 solid #eee;
}

.px-1--top::after {
	border-top-width: 1px;
}

.px-1--left::after {
	border-left-width: 1px;
}

.px-1--right::after {
	border-right-width: 1px;
}

.px-1--bottom::after {
	border-bottom-width: 1px;
}

.px-1--top-bottom::after {
	border-width: 1px 0;
}

.px-1--surround::after {
	border-width: 1px;
}

/* placeholder颜色 */
input::-webkit-input-placeholder {
	color: #999999;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 适配火狐 */
	color: #999999;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ 适配火狐 */
	color: #999999;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10+  适配ie*/
	color: #999999;
}

/* input框在ios中的阴影问题 */
input {
	-webkit-appearance: none;
}

input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px #999999 inset !important;
}

/* 光标颜色 */
input {
	caret-color: #e60212;
}

/* 全面屏安全底部 */
.safe_bottom {
	padding-bottom: constant(safe-area-inset-bottom);
	/*兼容 IOS<11.2*/
	padding-bottom: env(safe-area-inset-bottom);
	/*兼容 IOS>11.2*/
}

.disable {
	opacity: 0.4;
}

.checkbox_bg {
	background: url('data:image/svg+xml;utf8,<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="15" style="stroke:rgb(153,153,153);stroke-width:2px" fill-opacity="0"/></svg>') 40rpx center no-repeat;
	background-size: 32rpx auto;
}

.checkbox_bg.active {
	background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="15" style="stroke:rgb(254,153,73);stroke-width:2px" fill-opacity="0"/><circle cx="16" cy="16" r="8" style="fill:rgb(254,153,73)" stroke-width="0" /></svg>');
}


.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.font-din {
    font-family: DINAlternate-Bold, DINAlternate;
}