// color 颜色样式
$wsf-color-red: #e60113;
$wsf-color-grey: #999;
$wsf-color-new-red: #fe3040;
$wsf-linear-bg: linear-gradient(270deg, #FE3040 0%, #FF8011 100%);
$wsf-checkbox-selected-bg-image: url(https://wsjc-web-1301582899.cos.ap-guangzhou.myqcloud.com/wsf-mall/order/can_choose.png);

// 文字样式
.text-cursor-pointer {
	cursor: pointer;
}

// 对称样式
.flex-column {
	flex-direction: column;
}

// 缺省样式

.applet-empty {
	padding-top: 220rpx;
	&-tips {
		font-size: 28rpx;
		font-weight: 400;
		color: #999999;
		margin-top: 10rpx;
		line-height: 40rpx;
	}
}


.empty-fill-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	background-color: #FBFBFB;
  &::before {
		content: '';
		width: 154rpx;
		height: 56rpx;
		background: url('https://wsjc-web-1301582899.cos.ap-guangzhou.myqcloud.com/wsf-mall/home/ic_empty_logo.png') center center no-repeat;
		background-size: 100% 100%;
	}
}
.bg-gray{
	background: rgba(180,183,186,0.2);
	border-radius: 24rpx;
}
.flex-style{
	display: flex;
	align-items: center;
	justify-content: center;
}
.smart-goods-tag{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 82rpx;
	height: 58rpx;
}
.smart-goods-tag-title{
	position: absolute;
	left: 12rpx;
	bottom: 8rpx;
	font-size: 22rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
}